POSTGRES_DB=task_management
POSTGRES_USER=task_user
POSTGRES_PASSWORD=task_password
POSTGRES_PORT=5432
# Required: generate with openssl rand -base64 32
JWT_SECRET=tuTTBa4Txubpc3MfdIM4rB+WArhQSzxHLYclf5EhJCQ=
JWT_ACCESS_TOKEN_TTL=1h
